body {
    background-color: rgb(29, 29, 29);
    color: rgb(255, 255, 255);
}

h1 {
    background-color: black;
    color: white;
}

div {
    background-color: blue;
    color: white;
}

.playground {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

button {
    font-size: 20px;
    font-weight: bold;
    margin: 20px;
    padding: 10px;
    width: 200px;
    border: 1px solid #DDD;
    transition: all .5s ease-out;
    color: #273c75;
}

button:hover {
    color: rgb(0, 0, 0);
}

.btn1 {
    background: linear-gradient(to right, #e5ff00 50%, rgb(204, 0, 255) 50%);
    background-size: 200% 100%;
    background-position: right;
}

.btn2 {
    background: linear-gradient(to right, #FFF 50%, #e84118 50%);
    background-size: 200% 100%;
    background-position: left;
}

.btn3 {
    background: linear-gradient(to top, #e84118 50%, #FFF 50%);
    background-size: 100% 200%;
    background-position: top;
}

.btn4 {
    background: linear-gradient(to top, white 50%, #e84118 50%);
    background-size: 100% 200%;
    background-position: bottom;
}

.btn1:hover {
    background-position: left;
}

.btn2:hover {
    background-position: right;
}

.btn3:hover {
    background-position: bottom;
}

.btn4:hover {
    background-position: top;
}